
<div >
    <form (ngSubmit)="onSubmit()" class="neon-add">
        <h1 class="neon-add__title">Custom your neon add</h1>
        <div class="neon-add__addText">
            <input type="text" [(ngModel)]="userInput.text" [ngModelOptions]="{standalone: true}" placeholder="WRITE YOUR TEXT . . ." name="userInput" required #Input="ngModel">
            <div class="error-alert"[hidden]="Input.valid || Input.pristine">
                Your text is required
            </div>
        </div>
        <div class="neon-add__custom">
            <app-custom-neon></app-custom-neon>
        </div>
        <div class="neon-add__showText" >
            @if(userInput.text == ''){
                <div [ngStyle]="boxStyle">
                    <h1 [ngStyle]="fontStyle" >Neon add</h1>
                </div>
            }@else {
                <div [ngStyle]="boxStyle">
                    <h1  [ngStyle]="fontStyle" >
                        {{userInput.text}}
                    </h1>
                </div>
                
            }
            
        </div>
        <div class="neon-add__submit">
            
            <button type="submit" [disabled]="!Input.valid" routerLink="contact">Submit</button>
        </div>
        
    </form>

</div>

