
<div >
    <form (ngSubmit)="onSubmit()" class="neon-add">
        <h1 class="neon-add__title">Custom your neon add</h1>
        <div class="neon-add__addText">
            <input type="text">
        </div>
        <div class="neon-add__custom">
            Aqui va un componenete 
        </div>
        <div class="neon-add__showText">
            Show text
        </div>
        <div class="neon-add__submit">
            
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

