@use"../../../styles.scss" as s;

.contact-form{
    width: 100vw;
    display: grid;
    padding: 2rem 2rem;
    grid-template-areas: 
        "title title title"
        "null1 Name null2"
        "null1 submit null2"
        ;
        
        &__title{
            text-align: center;
            grid-area: title;
            font-family: s.$font-family;
            background-image: s.$bg-main;
            height: 100px;
            margin-bottom: 60px;
            border-radius: 8px;
            color: s.$white;
            padding-top:30px ;
            box-shadow: s.$shadow-main;
        }
        &__inputs{
            
            grid-area: Name;
            display: grid;
            grid-template-rows: repeat(4,40px 40px);
            padding: 100px;
            padding-top: 50px;
            background-image: s.$bg-main;
            align-items: center;
            margin-bottom: 60px;
            border-radius: 8px;
            box-shadow: s.$shadow-main;
            label{
                color: white;
                font-family: s.$font-family;
            }
            input{
                font-family: s.$font-family;
                padding: 5px;
                font-size: 15px;
            }
            

        }
        &__null1{
            grid: null1;
            
        }
        &__null2{
            grid-area: null2;
            
        }
        &__submit{
            grid-area: submit;
            display: grid;
            place-content: center;
            
            button{
                font-family: s.$font-family;
                font-weight: 700;
                width: 300px;
                height: 40px;
            }
        }
    }