@use'../../../styles.scss'as s;
.main{
    background-image: s.$bg-main;
    height: 100vh;
    width: 100vw;
    font-family: s.$font-family;
    color: s.$white;
    display:grid;
    padding: 3rem;
    text-align: center;
    align-content: center;
    justify-content: center;
    grid-template-rows: 200px 150px 100px 30px;
    span{
        display: grid;
        justify-content: center;
        align-content: center;
       
        place-items: center;
        align-items: center;
  
        a{
            text-decoration: none;
            border-radius: 5px;
            padding-top: 12px;
            width: 200px;
            height: 50px;
            background-color: s.$white;
            

        }
        
    }

}
