@use"../../../styles.scss"as s;

span{
    
    display: block;
    height: 40px;
    width: 100%;
    cursor:pointer;
    font-size: 25px;
    border-top:1px solid s.$border-header ;

}

.pacifico{
    font-family: s.$font-pacifico;
}
.montserrat{
    font-family: s.$font-family;
}
.caveat{
    font-family: s.$font-caveat;
    font-weight: 700;
}
.orbitron{
    font-family: s.$font-orbitron;
}